.footer {
  background-color: #101010;
  color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.footer-link {
  color: #f8f9fa;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #dc3545;
}

.social-icon {
  font-size: 1.2rem;
  color: #f8f9fa;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: #dc3545;
  transform: scale(1.2);
}

.footer h4,
.footer h5 {
  color: #ffffff;
}

.footer hr {
  border-color: rgb(255, 255, 255);
}