

.producto-card {
  transition: transform 0.2s ease;
}
.producto-card:hover {
  transform: translateY(-4px);
}
.producto-img-wrapper {
  background-color: #f8f9fa;
}
.producto-img {
  max-height: 200px;
  object-fit: contain;
}
.filters select {
  min-width: 180px;
}



.bg-gradient-red {
  background: linear-gradient(to right, #b71c1c, #6b140e);   
}


