.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: box-shadow 0.3s ease-in-out;
}

.navbar-scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  transition: all 0.3s ease-in-out;
  object-fit: cover;
  border-radius: 50%;
}

.logo-large {
  width: 90px;
  height: 90px;
}

.logo-small {
  width: 50px;
  height: 50px;
}



.navbar-nav .nav-link:hover {
  color: #dc3545; /* 🔴 Rojo Bootstrap (danger) */
  text-decoration: none;
}


